body {
    /*remove padding*/
    margin: 0;
    padding: 0;
    
    /*hide scroll bars, does not work on mobile */
    overflow-x:hidden;
    overflow-y:hidden;
            
    /*prevent standard tap-hold menu*/
    -webkit-touch-callout: none; /* iOS Safari */
            
    /*prevent mobile highlight/copy as text*/
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -o-user-select: none;
    user-select: none; /* Non-prefixed version, currently
                          not supported by any browser */
                                  
    /*prevent user drag*/
    user-drag: none;
}